<div class="modal-header">
  <h4 class="modal-title">Crear Producto</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
    <div class="form-group">
      <label for="name">Nombre*</label>
      <input type="text" id="name" placeholder="Nombre" class="form-control" formControlName="name" />
      <span style="color:Red;" *ngIf="productForm.controls['name'].touched && productForm.controls['name'].errors?.required">
        Name is required.
      </span>
    </div>
    <div class="form-group">
      <label for="description">Description*</label>
      <textarea id="description" placeholder="Descripción" class="form-control" formControlName="description"></textarea>
      <span style="color:Red;" *ngIf="productForm.controls['description'].touched && productForm.controls['description'].errors?.required">
        Description is required.</span>
    </div>
    <div class="form-group">
      <label for="cost">Costo*</label>
      <input type="number" id="cost" placeholder="150000" class="form-control" formControlName="cost" />
      <span style="color:Red;" *ngIf="productForm.controls['cost'].touched && productForm.controls['cost'].errors?.required">
        Cost is required.
      </span>
    </div>
    <div class="form-group">
        <label for="category">Categoria*</label>
        <input type="text" id="category" placeholder="Producto" class="form-control" formControlName="category" />
        <span style="color:Red;" *ngIf="productForm.controls['category'].touched && productForm.controls['category'].errors?.required">
          Category is required.
        </span>
      </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cerrar</button>
  <button class="btn btn-primary" (click)="saveProduct()" [disabled]="productForm.invalid">Guardar</button>
</div>